* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 16px;

    @media screen and ($m-extra-small) {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;

    @include bg(55deg, #dedede, #f7f7f7);
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;

    @media screen and ($m-extra-small) {
        max-width: 100%;
        padding: 0 10px;
    }

    @media screen and ($m-small) {
        max-width: 460px;
    }

    @media screen and ($m-medium) {
        max-width: 940px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}