@font-face {
    font-family: "BreeSerifRegular";
    src: url("../fonts/BreeSerifRegular/BreeSerifRegular.eot");
    src: url("../fonts/BreeSerifRegular/BreeSerifRegular.eot") format("embedded-opentype"),
    url("../fonts/BreeSerifRegular/BreeSerifRegular.woff2") format("woff2"),
    url("../fonts/BreeSerifRegular/BreeSerifRegular.woff") format("woff"),
    url("../fonts/BreeSerifRegular/BreeSerifRegular.ttf") format("truetype"),
    url("../fonts/BreeSerifRegular/BreeSerifRegular.svg#BreeSerifRegular") format("svg");
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot") format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular") format("svg");
}

@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana/Verdana.eot");
    src: url("../fonts/Verdana/Verdana.eot") format("embedded-opentype"),
    url("../fonts/Verdana/Verdana.woff2") format("woff2"),
    url("../fonts/Verdana/Verdana.woff") format("woff"),
    url("../fonts/Verdana/Verdana.ttf") format("truetype"),
    url("../fonts/Verdana/Verdana.svg#Verdana") format("svg");
}