/* fonts */
$f-bree-serif: "BreeSerifRegular", sans-sefir;
$f-open-sans: "OpenSansRegular", sans-sefir;
$f-verdana: "Verdana", sans-sefir;

/* color */
$c-dark: #333333;
$c-green: #53a665;
$c-white: #ffffff;
$c-gray: #808080;
$c-border: #cccccc;
$c-black: #000000;

/* media */
$m-extra-small: "max-width: 767px";
$m-small: "min-width: 768px";
$m-medium: "min-width: 992px";
